<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ejercicio3</title>
    <link rel="stylesheet" href="./content/compile_css/form.css">
</head>
<body>
    <div class="flex-container">
        <div class="section">
            <div class="nav-1">LOGO</div>
            <div class="nav-2">LEMONCODE</div>
            <div class="nav-3">USER</div>
        </div>

        <div class="section">
            <div class="col-1">BUSINESS</div>
            <div class="col-2">CULTURE</div>
            <div class="col-3">GEAR</div>
            <div class="col-4">IDEAS</div>
            <div class="col-5">SCIENCE</div>
            <div class="col-6">SECURITY</div>
            <div class="col-7">TRANSPORTATION</div>
        </div>
    </div>
</body>
</html>