<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ejercicio1</title>
    <link rel="stylesheet" href="./content/compile_css/form.css">
</head>
<body>
    <div class="red_palette">
        <div>Darken 4</div>
        <div>Darken 3</div>
        <div>Darken 2</div>
        <div>Darken 1</div>
        <div>Base color</div>
        <div>Lighten 1</div>
        <div>Lighten 2</div>
        <div>Lighten 3</div>
        <div>Lighten 4</div> 
    </div>
    <div class="green_palette">
        <div>Darken 4</div>
        <div>Darken 3</div>
        <div>Darken 2</div>
        <div>Darken 1</div>
        <div>Base color</div>
        <div>Lighten 1</div>
        <div>Lighten 2</div>
        <div>Lighten 3</div>
        <div>Lighten 4</div> 
    </div>
    <div class="blue_palette">
        <div>Darken 4</div>
        <div>Darken 3</div>
        <div>Darken 2</div>
        <div>Darken 1</div>
        <div>Base color</div>
        <div>Lighten 1</div>
        <div>Lighten 2</div>
        <div>Lighten 3</div>
        <div>Lighten 4</div> 
    </div>
</body>
</html>