<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ejercicio2</title>
    <link rel="stylesheet" href="./content/compile_css/form.css">
</head>
<body>
    <div class="box base_div default_font">Base</div>
    <div class="box important_div default_font">Important</div>
    <div class="box warning_div default_font">Warning</div>
    <p class="principal_font">Principal font</p>
    <p class="secondary_font">Secondary font</p>
    <div class="box shadow_div default_font">Box with shadow</div>
</body>
</html>