@mixin calculate-columns($numberOfColumns: 1) {
    @for $colNumber from 1 through $numberOfColumns {
        .col-#{$colNumber} {
            flex: $numberOfColumns 0%;
            min-width: auto;
            max-width: (round(100% / $numberOfColumns));
        }
    }
}

@mixin hide-nav($colNumber: 1) {
    .nav-#{$colNumber} {
        visibility: hidden;
    }
}

@mixin show-nav($colNumber: 1) {
    .nav-#{$colNumber} {
        visibility: visible
    }
}
