<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ejercicio4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./content/compile_css/form.css">
</head>
<body>
    <div class="container">
        <div class="block1">
            <div class="item">CSS TRICKS</div>
            <div class="item">W3C</div>
            <div class="item">JSS</div>
        </div>
        <div class="block2">Content A</div>
        <div class="block3">Content B</div>
    </div>
</body>
</html>